<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <div class="signup-container">
        <h2>OTP</h2>
        <form method="post" action="/user/otp">
          <input
            type="number"
            placeholder="OTP"
            required
            name="otp"
          /><br /><br /><br />
          <input type="submit" value="Click" />
        </form>
      </div>
    </center>
  </body>
</html>
