<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a><a href="/products">Products</a
      ><a href="/user/signin">Signin</a><a href="/user/signup">Signup</a>
    </nav>
    <br /><br /><br /><br /><br />
    <center>
      <div class="signup-container">
        <h2>Add Products</h2>
        <form method="post" action="/products">
          <input
            type="text"
            placeholder="Enter the product name"
            name="productName"
            required
          /><br /><br /><br />
          <input
            type="number"
            placeholder="Enter the productprice"
            name="productPrice"
            required
          /><br /><br /><br />
          <input
            type="text"
            placeholder="Enter the product category"
            name="productCategory"
            required
          /><br /><br /><br />
          <input
            type="url"
            placeholder="Enter the product image"
            name="productImage"
            required
          /><br /><br /><br />
          <input type="submit" value="Add" />
        </form>
      </div>
    </center>
  </body>
</html>
