<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a><a href="/products">Products</a
      ><a href="/user/signin">Signin</a><a href="/user/signup">Signup</a>
    </nav>
    <br /><br /><br /><br /><br />
    <center>
      <div class="signup-container">
        <h2>Add Products</h2>
        <form method="post" action="/products">
          <input
            type="text"
            placeholder="Enter the product name"
            name="productName"
            required
          /><br /><br /><br />
          <input
            type="number"
            placeholder="Enter the productprice"
            name="productPrice"
            required
          /><br /><br /><br />
          <input
            type="text"
            placeholder="Enter the product category"
            name="productCategory"
            required
          /><br /><br /><br />
          <input
            type="url"
            placeholder="Enter the product image"
            name="productImage"
            required
          /><br /><br /><br />
          <input type="submit" value="Add" />
        </form>
      </div>
    </center>

    <div id="products"></div>

    <script>
      fetch("/productdata")
        .then((response) => response.json())
        .then((response) => getData(response.products));

      const addProductDb = (productDetails) => {
        fetch("/addproductdb", {
          method: "POST",
          headers: { "content-type": "application/json" },
          body: JSON.stringify(productDetails),
        });
      };

      const getData = (products) => {
        products.map((ele) => {
          let productCategory = document.createElement("h1");
          productCategory.innerHTML = `Category : ${ele.productCategory}`;
          let productImage = document.createElement("img");
          productImage.src = ele.productImage;
          let productName = document.createElement("p");
          productName.innerHTML = ele.productName;
          let productPrice = document.createElement("span");
          productPrice.innerHTML = `$${ele.productPrice}`;
          let add = document.createElement("button");
          add.innerHTML = "add";
          add.addEventListener("click", () => addProductDb(ele));
          let div = document.createElement("div");
          div.append(
            productCategory,
            productImage,
            productName,
            productPrice,
            add,
          );
          document.getElementById("products").append(div);
        });
      };
    </script>
  </body>
</html>
